body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    direction: rtl;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    background-clip: padding-box;
    background-color: rgb(33, 43, 54);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 20px;
    margin: 0px;
}

.login-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: rgba( 61, 94, 119, 0.25 );

    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    
}

.login-container img{
    width: 50%;
    margin-right: 110px;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: right;
    color: #666;
  
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #5cd468;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba( 61, 94, 119, 0.25 );
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
